html, body, #root, .app {
  height: 100%;
  width: 100%;
  background-color: #f9f5f7;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p, span {
  font-family: 'Lato', sans-serif;
}

.fa-envelope {
  padding-right: 5px;
}

.fa-mobile-alt {
  padding-right: 11px;
}

.fa-user {
  padding-right: 11px;
}

.container {
  height: 100%;
  padding-top: 5%;
  /* background-color: pink; */
}

.profile-container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 250px 50px 200px auto;
}

.profile-img {
  width: 200px;
  border-radius: 50%; 
  box-shadow: 1px 1px 10px black;
  place-self: center;
}

.profile-info {
  place-self: center;
  border-left: 1px solid #c6c6c9;
  padding-left: 20px;
}

.profile-edit-btn {
  place-self: center;
  width: 100px;
}

#landing-page {
  background-color: #bbb5bb;
  padding-left: 100px;
  
}


.bg-image {
  /* color: #71a0a5; */
  background-image: url(https://images.unsplash.com/photo-1490111718993-d98654ce6cf7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .7;
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px black;
}

.jumbotron {
  background-color: transparent;
  width: 100%;
  height: 350px;
  padding-top: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #71a0a5;
  padding: 2%;
}

.nav-link {
  color: #acc6aa;
  text-decoration: none;
  font-size: 1.6em;
  text-shadow: 0px 0px 5px #204969;
}

.nav-link:hover {
  color: #566355;
  text-shadow: 0px 0px 1px #204969;
  /* text-shadow: 1px 1px 5px #204969; */
}

.btn-primary {
  background-color: #2e6896;
  border-color: #2e6896;
  color: #fefefe;
}

.btn-primary:hover {
  background-color: #204969;
  color: #fefefe;

}

.btn-secondary:hover {
  background-color: #808991;
  border-color: #808991;
  color: #fefefe;

}

.btn-secondary {
  background-color: #8b939a;
  border-color: #8b939a;
  color: #fefefe;

}

/* Links */
a {
  color: #161618; 
  text-decoration: none;
}

a:hover {
  color: #466a6e;
  text-decoration: none;
}

 /* Events page */
.events-container, .relationships-container {
  display: grid;
  grid-template-rows: 50px 50px 50px auto;
  grid-template-columns: 200px 150px auto;
  grid-gap: 10px;
}

.events-container h2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
}

.events-container .new-btn {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.events-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: stretch;
  align-self: end;
}

.events-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.events-list {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: span 4;
  border-left: 1px solid #c6c6c9;
  padding-left: 30px;
  margin-left: 30px;
}

/* Toggle event buttons */
.event-btn {
  background-color: #94aaaf;
  border-color: #f9f5f7;
  width: 100%;
}

.past-btn:hover, .upcoming-btn:hover {
  background-color: #728f96;
  border-color: #728f96;
}

/* Event card */
.event-card {
  display: grid;
  grid-template-rows: repeat(2, 80px);
  grid-template-columns: 100px 100px auto 140px;
  grid-gap: 5px;
  background-color: #ece9f2;
  margin: 10px;
  border-radius: .25em;
}

.event-card:hover {
  border: 1px solid #eeedee;
  box-shadow: 1px 1px 5px #a09fa4;
}

.event-card .day {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  place-self: center;
}

.event-card .event-date {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: span 4;
  place-self: center;
}

.event-card .event-details {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: span 2;
  align-self: center;
  margin: 10px 0 0 10px;
  font-size: 1.1em;
}

.event-details .event-name {
  font-weight: bold;
}

.event-card .edit-btn {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  align-self: end;  
  width: 100px;
}

.event-card .delete-btn {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: start;
  width: 100px;
}

/* Event date display */
.event-date {
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  padding: 15px 10px;
  place-self: center;
}

.event-date .date {
  font-size: 2em;
}

.event-date .month {
  text-transform: uppercase;
}

.day {
  font-size: 1.8em;
  place-self: center;
}

.event-profile-card {
  display: grid;
  grid-template-columns: 100px 100px auto;
  grid-gap: 5px;
  padding: 25px 20px;
  background-color: #ece9f2;
  border: 1px solid #c6c6c9;
}

.event-profile-header {
  align-self: end;
  margin-bottom: 18px;
}

.event-profile-header h3 {
  font-size: 1.8em;
}

.event-profile-subinfo {
  grid-column: span 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-top: 1px solid #c6c6c9;
  border-bottom: 1px solid #c6c6c9;
  margin-top: 20px;
  padding: 20px;
}

.event-description {
  grid-column: span 3;
  padding: 20px;
}

.event-description p:first-child {
  font-weight: bold;
}

/* Connections */
.reorder-select {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.relationships-list {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: span 4;
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid #c6c6c9;
}

.image-container {
 width: 120px;
 height: 120px;
 overflow: hidden;
}

.relationship-card img {
  width: 120px;
}

.relationship-card {
 display: grid;
 grid-template-columns: 150px auto 100px;
 grid-template-rows: 60px 60px;
 grid-gap: 10px;
 margin: 15px;
 align-items: center;
 background-color: #ece9f2;
 padding: 10px 20px;
 border-radius: .25em;
}

.relationship-card:hover {
  border: 1px solid #eeedee;
  box-shadow: 1px 1px 5px #a09fa4;
}

.relationship-card div:first-child {
  grid-row: span 2;
}

.relationship-card div:nth-child(2) {
  grid-row: span 2;
}

.relationship-card .rel-edit-btn {
  grid-column-start: 3;
  grid-column-end: 4;
  align-self: end;
}

.relationship-card .rel-delete-btn {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
}

.relationship-card a {
  text-decoration: none;
}

/* relationship profile */
.profile-container .rel-edit-btn {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: start;
  justify-self: center;
  width: 100px;
}

.reminders {
  padding-top: 30px;
  grid-column: 1/2;
  grid-row: 3/4;
  border-bottom   : 1px solid #c6c6c9;
}

.reminders p {
  font-weight: bold;  
}

.reminders span {
  font-style: italic;
}

.profile-stats {
  grid-column: 1/2;
  grid-row: 4/5;
  padding-top: 30px;
}

.profile-stats p span {
  font-weight: bold;
}

.profile-container .events-list {
  grid-column: 2/3;
  grid-row: 3/span 2;
  border-left: 1px solid #c6c6c9;
}

.connection-events {
  padding-top: 20px;
  padding-left: 10px;
}

.connection {
  text-transform: capitalize;
}

.name {
  font-size: 1.4em;
}
